.Pic{
  object-fit: cover;
  width: 100%;
  height: 450px;
}

.textField{
  background-color: #d0cfc5;
  padding: 70px 50px 70px 50px;
  border-radius: 25px;
  top: 0;
  left: 0;
  margin-top: 14%;
  margin-left: 25px;
  position: absolute;
}

.textField p{
  margin-top: 20px ;
  font-weight: 200;
  padding: auto;
}

/*Adjustments*/
@media (max-width: 768px){
    .textField{
      display: none;
    }
}