
footer{
    
    background-color: #111;
}

.FooterWrapper{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 12px;
    background-color: azure;
    margin: 15px;
    border-radius: 50%;
}

.socialIcons a svg{
    width: 1em;
    height: 1em;
    font-size: 2em;
    color: black;
    opacity: 0.8;
    transition: color 0.3s ease;
}

.socialIcons a svg:hover{
    color: brown;
    opacity: 0.9;
}

.footerView ul li a{
    list-style: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.footerView ul li a:hover{
    color: brown;
    opacity: 0.9;
}

.footerView ul{
    margin-top: 20px;
    list-style: none;
}

.footerView ul li{
    margin-bottom: 15px;
}

.footerBottom{
    margin-top: 50px;
    position: relative;
    left: -30px;
    right: 0;
    height: 40px;
    width: 100vw;   
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}

.footerBottom p{
    background-color: brown;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    color: white;
}